* {
	font-family:Courier;
	scroll-behavior:smooth;

}

html{
	scroll-behavior:smooth;
	margin:0;
	padding:0;
}
.jumbotron{ 
	background-image: url(./assets/cow.jpg); 
	background-size: cover; 
	background-repeat: no-repeat; 
}  
}

#about-me{
	/*background-color:blue;
*/
	background-image: url(./assets/cat.jpg); 
	background-size: 720px 440px; 
	background-repeat: no-repeat; 	
*/
	

}
.contact{
		box-shadow:5px 10px 8px #888888 ;
}

.headerbutton{
  background-color: #1A6633; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25%;
  border-radius: 8px;
  transition-duration: 0.4s;

}

.button {
  background-color: #1A6633; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}
